$white: #ffffff;
$gray: #e8e9eb;
$light-gray: #6c757d;
$dark-gray: #343a40;
$thumbnail-gray: #55595c;
$border-gray: #dde2e5;
$about-gray: #f8f9fa;
$footer-gray: #f9f9f9;
$blue: #007bff;
$green: #2ea94a;
